<div class="box-comp">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex justify-content-center title-comp">
            <h1>Mes compétences</h1>
        </div>
        <div class="box-comp-content">
            <div class="bloc-box">
                <div class="title-bloc">Langages</div>
                <div class="content-bloc">
                    <span>HTML & CSS</span>
                    <span>Javascript</span>
                    <span>PHP</span>
                    <span>SQL</span>
                </div>
            </div>
            <div class="bloc-box">
                <div class="title-bloc">Framework</div>
                <div class="content-bloc">
                    <span>Symfony </span>
                </div>
            </div>
            <div class="bloc-box">
                <div class="title-bloc">Design</div>
                <div class="content-bloc">
                    <span>Photoshop</span>
                    <span>Illustrator</span>
                    <span>After Effects</span>
                    <span>Figma</span>

                </div>
            </div>
            <div class="bloc-box">
                <div class="title-bloc">Autres</div>
                <div class="content-bloc">
                    <span>Mise en production</span>
                    <span>Wordpress</span>

                </div>
            </div>

        </div>
    </div>
</div>