.box-comp{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

}


.title-comp{
    margin-top: 10%;
}



.box-comp-content{
    margin-top: 3%;
    width: 1200px;
    background-color: #6490b5;
    border-radius: 30px;
    height: 400px;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.bloc-box{
    display: flex;
    flex-direction: column;
    color: white;
}
.title-bloc{
    font-family: VisbyBold;
    font-size: 2em;
    margin-bottom: 25px;
}

.content-bloc{
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}



